<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investiment">Initial Investiment</label>
      <input id="initial-investiment" name="annual-investiment" type="number" [(ngModel)]= "initialInvestiment" />
    </p>
    <p>
      <label for="annual-investiment">Annual Investiment</label>
      <input id="annual-investiment" name="annual-investiment" type="number" [(ngModel)]= "annualInvestiment"/>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" name="expected-return" type="number" [(ngModel)]= "expectedReturn"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" name="duration" type="number" [(ngModel)]= "duration"/>
    </p>
  </div>
  <button>Calculate</button>
</form>
